@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import 'styles/modal';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@layer components {
  .centered-row {
    @apply my-4 flex w-full justify-center first:mt-0 last:mb-0;
  }
}
